/* Body */
html {
  min-height: 100%;
  overflow-y: scroll;
  background-color: #fbdde3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#gameWrapper {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-right: auto;
  width: 75%;
  text-align: center;
}
h1,
th {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  color: #551a8b;
  font-size: 32px;
  margin-right: 20%;
}

table {
  border-collapse: collapse;
  border: 5px solid #a999f5;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 80%;
  height: 600px; /* Should be removed. Only for demonstration */
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

th {
  padding: 10px;
  background-color: #f2d6f6;
  border: 2px #c3c5fd solid;
  text-align: center;
  width: 20%;
}
td {
  background-color: black;
  border: 2px #c3c5fd solid;
  text-align: center;
  width: 20px;
  height: 20px;
}

.letter {
  background-color: white;
}

.text {
  color: black;
  background-color: white;
  font-size: 14px;
  border: none;
  text-align: left;
  padding: 1%;
}
